@model IEnumerable<Booking.DAL.Models.Apartment>

@{
    ViewData["Title"] = "Apartment";
}

<h3 class="text-center mt-5">Apartments</h3>
<h3 class="title">Apartments</h3>

<p class="btn-create">
    <a asp-area="adminarea" asp-action="CreateOrEdit">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDurationInDays)
            </th>
            <th>
                Features
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Apartment item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.Hoster?.FullName ?? "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @(item.Rates.Count>0 ? String.Format("{0:0.0}", item.Rates.Average(q=>q.Value)) : 0)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxDurationInDays)
                </td>
                <td>
                    @foreach (var feature in item.Features)
                    {
                        @feature.Feature?.Name <br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <partial name="Partials/_GroupButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>
