@model Booking.DAL.Models.Explorer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Explorer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            User unlock date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateFromState)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CreateOrEdit" class="text-warning" asp-route-id="@Model.Id">Edit or Ban</a> |
    <a asp-action="Index">Back to List</a>
</div>