@model Booking.DAL.Models.Rent

@{
    ViewData["Title"] = "Details";
}

<h3 class="title">Details</h3>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Explorer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Explorer.FullName)
            @if (Model.Complaint == null)
            {
                <span>
                    <a data-toggle="modal" data-target="#ModalComplainForm"
                   class="text-danger ml-3 font-weight-bold" href="#" id="btn-complain">
                        [ Complain ]
                    </a>
                </span>
            }
            else
            {
                <span class="font-weight-bold">
                    [ Complain: @Model.Complaint.Text ]
                </span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="HosterArea" asp-controller="Apartment" asp-action="Index">Back to List</a>
</div>

<div id="ModalComplainForm" class="modal fade mt-5">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Complain</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" asp-area="" asp-controller="Account" asp-action="Complain">
                    <input type="hidden" name="id" id="complain-id" value="@Model.Explorer.Id">
                    <input type="hidden" name="rentId" id="complain-id" value="@Model.Id">
                    <div class="form-group">
                        <div class="input-group">
                            <textarea class="form-control" name="text" id="complain-text" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">SendText</button>
                            <button class="btn btn-info" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->