@model IEnumerable<Booking.DAL.Models.Rent>

@{
    ViewData["Title"] = "Requested";
}

<h3 class="text-center mt-5 mb-4 font-weight-bold title-small">Requested Rents</h3>

<table class="table mt-5 table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explorer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explorer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment.Address)
                </td>
                <td>
                    <a href="/hosterarea/Rent/Approve/@item.Id"><b>Approve</b></a>
                    <span class="ml-2 mr-2">/</span>
                    <a href="/hosterarea/Rent/Reject/@item.Id"><b>Reject</b></a>
                </td>
            </tr>
        }
    </tbody>
</table>
