@using Booking.BLL.ViewModels
@model AdminHomeIndexVM

@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-3 font-weight-bold text-center">Admin Panel</h3>
        </div>
    </div>
    <div class="row mt-3 pt-3" style="background-color: #eeeeee">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card mb-4">
                    <div class="card-body logo2-body">
                        <h6 class="card-title">Rents:</h6>
                        <p class="card-text green-text"><i class="fas fa-angle-double-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">@Model.RentsList.Count</span></p>
                        <img src="~/img/3d-house.svg" alt="booking.png" class="logo2" />

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-group">
                <div class="card mb-4">
                    <div class="card-body logo2-body">
                        <h6 class="card-title">Hosters:</h6>
                        <p class="card-text blue-text"><span class="ml-2" style="font-size: 30px;">@Model.Hosters</span></p>
                        <img src="~/img/3d-house.svg" alt="booking.png" class="logo2" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-group">
                <div class="card mb-4">
                    <div class="card-body logo2-body">
                        <h6 class="card-title">Explorers: <i class="fi-parameters-iconname"></i></h6>
                        <p class="card-text green-text"><i class="fi-parameters-iconname"></i><span class="ml-2" style="font-size: 30px;">@Model.Explorers</span></p>
                        <img src="~/img/3d-house.svg" alt="booking.png" class="logo2" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-group">
                <div class="card mb-4">
                    <div class="card-body logo2-body">
                        <h6 class="card-title">Apartments:</h6>
                        <p class="card-text green-text"><i class="fas fa-angle-double-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">@Model.ApartmentsList.Count</span></p>
                        <img src="~/img/3d-house.svg" alt="booking.png" class="logo2" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-group">
                <div class="card mb-4">
                    <div class="card-body logo2-body">
                        <h6 class="card-title">Features:</h6>
                        <p class="card-text green-text"><i class="fas fa-angle-double-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">@Model.Features</span></p>
                        <img src="~/img/3d-house.svg" alt="booking.png" class="logo2" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-group">
                <div class="card mb-4">
                    <div class="card-body logo2-body">
                        <h6 class="card-title">Locations:</h6>
                        <p class="card-text green-text"><i class="fas fa-angle-double-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">@Model.Locations</span></p>
                        <img src="~/img/3d-house.svg" alt="booking.png" class="logo2" />

                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center mt-5 mb-4 font-weight-bold title-small">Apartments</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hoster</th>
                <th>Location</th>
                <th>Address</th>
                <th>AvgScore</th>
                <th>MaxDuration</th>
                <th>Features</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Apartment item in Model.ApartmentsList)
            {
                            <tr>
                        <td>
                        @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Hoster.FullName)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Location.Name)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Address)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.AvgScore)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.MaxDurationInDays) days
                            </td>
                        <td>
                        @foreach (var feature in item.Features)
                        {
                            @feature.Name <br />
                        }
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.State)
                            </td>
                    </tr>
            }
        </tbody>
    </table>

    <h3 class="text-center mt-5 mb-4 font-weight-bold title-small">Rents</h3>
    <table class="table table-striped mb-5">
        <thead>
            <tr>
                <th>
                    Explorer
                </th>
                <th>
                    Apartment
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentsList[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentsList[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentsList[0].State)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RentsList)
            {
                        <tr> 
                        <td>
                        @Html.DisplayFor(modelItem => item.Explorer.FullName)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Apartment.Name)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.State)
                            </td>
                    </tr>
            }
        </tbody>
    </table>
</div>