<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light  pt-1 pb-1">
                <a class="navbar-brand" href="/"><img src="~/img/booking.svg" alt="booking.png" class="logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        @* <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Apartment")">
                            <a class="nav-link" asp-controller="Apartment" asp-action="Index">Apartments</a>
                            </li>
                            <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Hoster")">
                            <a class="nav-link" asp-controller="Hoster" asp-action="Index">Hosters</a>
                            </li>
                            <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Locations")">
                            <a class="nav-link" asp-controller="Location" asp-action="Index">Locations</a>
                            </li>*@
                    </ul>
                    <partial name="Partials/_AuthPartial" />
                </div>
            </nav>


            <div class="content">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer class="footer text-center">
        <div class="container">
            &copy; Booking
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
