<ul class="navbar-nav ml-auto">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("admin"))
        {
            <li class="nav-item active @Html.IsSelectedArea(areas:"AdminArea", actions: "Index", controllers: "Home")">
                <a class="nav-link" asp-area="AdminArea" asp-controller="Home" asp-action="Index">
                    @char.ToUpper(User.Identity.Name[0])@User.Identity.Name.Substring(1) - AdminArea
                </a>
            </li>
        }
        else if (User.IsInRole("hoster"))
        {
            <li class="nav-item active @Html.IsSelectedArea(areas:"HosterArea", actions: "Index", controllers: "Apartment")">
                <a class="nav-link" asp-area="HosterArea" asp-controller="Apartment" asp-action="Index">
                    @char.ToUpper(User.Identity.Name[0])@User.Identity.Name.Substring(1) - HosterArea
                </a>
            </li>
        }
        else
        {
            <li class="nav-item active @Html.IsSelectedArea(areas:"ExplorerArea", actions: "Index", controllers: "Rent")">
                <a class="nav-link" asp-area="ExplorerArea" asp-controller="Rent" asp-action="Index">
                    @char.ToUpper(User.Identity.Name[0])@User.Identity.Name.Substring(1) - ExplorerArea
                </a>
            </li>
        }
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Logout">
                Logout
            </a>
        </li>
    }
    else
    {
        <li class="nav-item active @Html.IsSelected(actions: "Login", controllers: "Account")">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item active @Html.IsSelected(actions: "Register", controllers: "Account")">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
