@model IEnumerable<Booking.DAL.Models.Hoster>

@{
    ViewData["Title"] = "Hosters";
}

<h3 class="title">Hosters</h3>

<p class="btn-create">
    <a class="font-weight-bold" asp-area="adminarea" asp-action="CreateOrEdit" asp-route-effect="create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <partial name="Partials/_GroupButtonPartialReadOnly" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>
