@model RentIndexVM

@{
    ViewData["Title"] = "Rents";
}

<h3 class="text-center mt-5 mb-4 font-weight-bold title-small">My Rents</h3>


@if (Model.Rent != null)
{
    <div class="rent-box-info">
        <i class="fa fa-home"></i>
        @{
            var days = (Model.Rent.StartDate - DateTime.Now).Days;
        }

        @if (Model.Rent.State == RentState.Requested)
        {
            <span>Waiting for rent confirmation</span>
        }
        else if (Model.Rent.State == RentState.Rejected)
        {
            <span>Hoster reject request rent</span>
        }
        else if (Model.Rent.State == RentState.Approved)
        {
            <span>Request confirmed.</span>
            <span>
                Start after @(days) days.
            </span>
            if (days >= 7)
            {
                <span><a asp-action="Index" asp-route-deactivate="true" asp-route-rentId="@Model.RentId"><b>Deactivate</b></a></span>
            }
            else
            {
                <span>You cannot deactivate the request</span>
            }
        }
        else if (Model.Rent.State == RentState.Inactive)
        {
            <span>Rent is not active</span>
        }
        else if (Model.Rent.State == RentState.Completed)
        {
            <span>Rent is completed.</span>
            if (Model.Rent.Rate == null)
                {
                <span>You can rate:</span>
                <span>
                <form asp-area="ExplorerArea" asp-controller="Rent" asp-action="CreateFeedback" class="form-feedback" method="post">
                    <input type="hidden" name="ApartmentId" value="@Model.Rent.ApartmentId" />
                    <input type="hidden" name="RentId" value="@Model.RentId" />

                    <select name="rate" id="rate" class="form-select" aria-label="Leave feedback">
                        <option selected>Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </form>
                </span>
            }
            else
            {
                <span>Your rate is @Model.Rent.Rate.Value</span>
            }
        }
    </div>
}

<table class="table">
    <thead>
        @{
            var rent = Model.Rents.FirstOrDefault();
        }
        <tr>
            <th>
                @Html.DisplayNameFor(model => rent.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => rent.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => rent.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => rent.Apartment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rents)
        {
            string selectRow = "";
            @if (item.Id == Model.RentId)
            {
                selectRow = "bg-info";
            }

            <tr class="@selectRow">
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment.Address)
                </td>
                <td>
                    <a asp-action="Index" asp-route-rentId="@item.Id"><b>Select</b></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
<script src="~/js/rent-create-feedback.js"></script>
}