@using Booking.BLL.ViewModels.HosterArea
@model ApartmentDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h3 class="title">Details</h3>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apartment.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apartment.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apartment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apartment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apartment.Hoster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apartment.Hoster.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apartment.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apartment.Location.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apartment.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apartment.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apartment.MaxDurationInDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apartment.MaxDurationInDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apartment.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apartment.State)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new {  id = @model.apartment.Id  }) |*@
    <a asp-area="HosterArea" asp-action="Index">Back to List</a>
</div>

<div class="mt-5"><hr /></div>
<h4 class="text-center mt-5 mb-4 font-weight-bold title-small">Rents of Apartment</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Explorer
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                State
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Rent item in Model.rents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Explorer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
            </tr>
        }
    </tbody>
</table>