@using Booking.BLL.ViewModels.HosterArea
@model ApartmentIndexVM

@{
    ViewData["Title"] = "Apartment";
}

<h3 class="text-center mt-5 mb-4 font-weight-bold title-small">My Apartments</h3>

<p>
    <a class="font-weight-bold" asp-area="HosterArea" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Hoster
            </th>
            <th>
                Location
            </th>
            <th>
                Address
            </th>
            <th>
                AvgScore
            </th>
            <th>
                MaxDuration
            </th>
            <th>
                Features
            </th>
            <th>
                State
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Apartment item in Model.apartments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hoster.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxDurationInDays) days
                </td>
                <td>
                    @foreach (var feature in item.Features)
                    {
                        @feature.Feature?.Name <br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <div class="btn-group group-action" role="group">
                        <a class="btn btn-primary btn-sm btn-primary" style="width:70px" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary btn-sm btn-success" style="width:70px" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-primary btn-sm btn-danger" style="width:70px" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="mt-5"><hr /></div>
<h3 class="text-center mt-5 mb-4 font-weight-bold title-small">My Last Rents</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Explorer
            </th>
            <th>
                Apartment
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                State
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Rent item in Model.rents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Explorer.FullName)
                </td>
                <td>
                    <a href="/HosterArea/Apartment/Details/@item.ApartmentId">
                        @Html.DisplayFor(modelItem => item.Apartment.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
            </tr>
        }
    </tbody>
</table>