@model IEnumerable<Booking.DAL.Models.Apartment>

@{
    ViewData["Title"] = "Apartments";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card shadow mb-5">
                <div class="card-img-top">
                    <img src="~/img/apartments/@(new Random().Next(1,11)).jpg" alt="booking" class="booking-img" />
                </div>

                <div class="card-body">
                    <h4 class="card-text pb-3 text-center">@item.Name</h4>
                    <p class="card-text">@item.Location.Name - @item.Address</p>
                    <p class="card-text">Hoster - @item.Hoster.FullName</p>

                    <div class="a-props ml-4 mt-4 mb-4">
                        @foreach (var prop in item.Features)
                        {
                            <i class="fa fa-check"></i>
                            <span>@prop.Feature.Name</span>
                        }
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rating">
                            @{
                                double avgRates = @item.Rates.Average(q => q.Value);
                                int avgInt = Convert.ToInt32(avgRates);
                                double resDouble = avgRates % avgInt;
                            }

                            @for (int i = 0; i <= avgInt; i++)
                            {
                                <i class="fa fa-star"></i>
                            }

                            @if (resDouble >= 0.5)
                            {
                                <i class="fa fa-star-half"></i>
                            }

                        </div>
                        <div class="btn-group">
                            <a href="/ExplorerArea/Rent/Create?id=@item.Id" type="button" class="btn btn btn-success">Rent</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>